#![enable(implicit_some)]
(
    name: Translate("name-custom-village-blacksmith"),
    body: RandomWith("humanoid"),
    alignment: Alignment(Npc),
    loot: LootTable("common.loot_tables.nothing"),
    inventory: (
        loadout: Inline((
            inherit: Asset("common.loadout.village.blacksmith"),
            active_hands: InHands((Choice([
                (1, Item("common.items.weapons.tool.broom")),
                (1, Item("common.items.weapons.tool.hoe")),
                (1, Item("common.items.weapons.tool.pickaxe")),
                (1, Item("common.items.weapons.tool.rake")),
                (1, Item("common.items.weapons.tool.shovel-0")),
                (1, Item("common.items.weapons.tool.shovel-1")),
            ]), None)),
        )),
        items: [
            (10, "common.items.consumable.potion_big"),
            (1, "common.items.recipes.equipment.basic"),
            (1, "common.items.recipes.metal.iron"),
            (1, "common.items.recipes.utility"),
            (1, "common.items.recipes.metal.iron.iron_ingot"),
            (1, "common.items.recipes.metal.iron.iron_back"),
            (1, "common.items.recipes.metal.iron.iron_belt"),
            (1, "common.items.recipes.metal.iron.iron_chest"),
            (1, "common.items.recipes.metal.iron.iron_feet"),
            (1, "common.items.recipes.metal.iron.iron_hands"),
            (1, "common.items.recipes.metal.iron.iron_pants"),
            (1, "common.items.recipes.metal.iron.iron_shoulder"),
            (1, "common.items.recipes.metal.iron.iron_head"),
            (1, "common.items.recipes.metal.iron.iron_weapons"),
            (1, "common.items.recipes.utility.collar_basic"),
            (1, "common.items.recipes.utility.lockpick_iron"),
            (1, "common.items.recipes.utility.lockpick_cobalt"),
            (1, "common.items.recipes.utility.gold_ingot"),
            (1, "common.items.recipes.utility.silver_ingot"),
            (1, "common.items.recipes.equipment.basic.steel_pickaxe"),
            (1, "common.items.recipes.equipment.basic.seashell_necklace"),
            (1, "common.items.recipes.equipment.basic.fang_necklace"),
            (1, "common.items.recipes.equipment.basic.firedrop"),
            (1, "common.items.recipes.equipment.basic.poison_clot"),
            (1, "common.items.recipes.equipment.basic.gelid_gel"),
            (1, "common.items.recipes.equipment.basic.levin_dust"),
        ],
    ),
    meta: [
        SkillSetAsset("common.skillset.preset.rank3.fullskill"),
    ],
)
