#![enable(implicit_some)]
(
    name: Translate("name-custom-village-herbalist"),
    body: RandomWith("humanoid"),
    alignment: Alignment(Npc),
    loot: LootTable("common.loot_tables.nothing"),
    inventory: (
        loadout: Inline((
            inherit: Asset("common.loadout.village.herbalist"),
            active_hands: InHands((Choice([
                (1, Item("common.items.weapons.tool.hoe")),
                (1, Item("common.items.weapons.tool.rake")),
            ]), None)),
        )),
        items: [
            (10, "common.items.food.cheese"),
            (10, "common.items.food.plainsalad"),
            (1, "common.items.recipes.food"),
            (1, "common.items.recipes.armor.woolen"),
            (1, "common.items.recipes.armor.cotton"),
            (1, "common.items.recipes.food.cactus_colada"),
            (1, "common.items.recipes.food.apple_shroom_curry"),
            (1, "common.items.recipes.food.salad_plain"),
            (1, "common.items.recipes.food.salad_tomato"),
            (1, "common.items.recipes.food.apples_stick"),
            (1, "common.items.recipes.food.mushroom_stick"),
            (1, "common.items.recipes.food.sunflower_icetea"),
            (1, "common.items.recipes.armor.cotton.cotton_back"),
            (1, "common.items.recipes.armor.cotton.cotton_chest"),
            (1, "common.items.recipes.armor.cotton.cotton_pants"),
            (1, "common.items.recipes.armor.woolen.woolen_back"),
            (1, "common.items.recipes.armor.woolen.woolen_chest"),
            (1, "common.items.recipes.armor.woolen.woolen_pants"),
        ],
    ),
    meta: [],
)
