#![enable(implicit_some)]
(
    name: Translate("name-custom-village-merchant"),
    body: RandomWith("humanoid"),
    alignment: Alignment(Npc),
    loot: LootTable("common.loot_tables.nothing"),
    inventory: (
        loadout: Inline((
            inherit: Asset("common.loadout.village.merchant"),
            active_hands: InHands((Choice([
                (2, ModularWeapon(tool: Bow, material: Eldwood, hands: None)),
                (1, ModularWeapon(tool: Sword, material: Steel, hands: None)),
                (1, ModularWeapon(tool: Sword, material: Bloodsteel, hands: None)),
                (2, ModularWeapon(tool: Staff, material: Ironwood, hands: None)),
            ]), None)),
        )),
        items: [
            (1, "common.items.recipes.equipment.basic"),
            (1, "common.items.recipes.armor.leather"),
            (1, "common.items.recipes.weapons.bamboo"),
            (1, "common.items.recipes.armor.leather.leather_back"),
            (1, "common.items.recipes.armor.leather.leather_belt"),
            (1, "common.items.recipes.armor.leather.leather_chest"),
            (1, "common.items.recipes.armor.leather.leather_feet"),
            (1, "common.items.recipes.armor.leather.leather_hands"),
            (1, "common.items.recipes.armor.leather.leather_pants"),
            (1, "common.items.recipes.armor.leather.leather_shoulder"),
            (1, "common.items.recipes.armor.leather.leather_head"),
            (1, "common.items.recipes.weapons.bamboo.bamboo_weapons"),
            (1, "common.items.recipes.equipment.basic.knitted_red_pouch"),
            (1, "common.items.recipes.equipment.basic.seashell_necklace"),
        ],
    ),
    meta: [
        SkillSetAsset("common.skillset.preset.rank3.fullskill"),
    ],
)
