// Loot table that exists purely for price rationalisation
//
// This loot table should be marked as sellable.
//
// Please keep it sorted by rarity so it's easier to reason about things
[
    // Recipes
    (0.667, Item("common.items.recipes.food")),
    (0.667, Item("common.items.recipes.utility")),
    (0.667, Item("common.items.recipes.equipment.basic")),
    (0.667, Item("common.items.recipes.potions")),
    (0.667, Item("common.items.recipes.explosives")),
    (0.667, Item("common.items.recipes.metal.iron")),
    (0.667, Item("common.items.recipes.armor.cotton")),
    (0.667, Item("common.items.recipes.armor.woolen")),
    (0.667, Item("common.items.recipes.armor.leather")),
    (1.0, Item("common.items.recipes.weapons.bamboo")),
    // Individual recipes
    (4.8, Item("common.items.recipes.armor.leather.thick_leather")),
    (4.8, Item("common.items.recipes.armor.leather.leather_back")),
    (4.8, Item("common.items.recipes.armor.leather.leather_belt")),
    (4.8, Item("common.items.recipes.armor.leather.leather_chest")),
    (4.8, Item("common.items.recipes.armor.leather.leather_feet")),
    (4.8, Item("common.items.recipes.armor.leather.leather_hands")),
    (4.8, Item("common.items.recipes.armor.leather.leather_pants")),
    (4.8, Item("common.items.recipes.armor.leather.leather_shoulder")),
    (4.8, Item("common.items.recipes.armor.leather.leather_head")),
    (4.8, Item("common.items.recipes.armor.cotton.cotton")),
    (4.8, Item("common.items.recipes.armor.cotton.cotton_back")),
    (4.8, Item("common.items.recipes.armor.cotton.cotton_belt")),
    (4.8, Item("common.items.recipes.armor.cotton.cotton_chest")),
    (4.8, Item("common.items.recipes.armor.cotton.cotton_feet")),
    (4.8, Item("common.items.recipes.armor.cotton.cotton_hands")),
    (4.8, Item("common.items.recipes.armor.cotton.cotton_pants")),
    (4.8, Item("common.items.recipes.armor.cotton.cotton_shoulder")),
    (4.8, Item("common.items.recipes.armor.cotton.cotton_head")),
    (4.27, Item("common.items.recipes.armor.woolen.woolen_back")),
    (4.27, Item("common.items.recipes.armor.woolen.woolen_belt")),
    (4.27, Item("common.items.recipes.armor.woolen.woolen_chest")),
    (4.27, Item("common.items.recipes.armor.woolen.woolen_feet")),
    (4.27, Item("common.items.recipes.armor.woolen.woolen_hands")),
    (4.27, Item("common.items.recipes.armor.woolen.woolen_pants")),
    (4.27, Item("common.items.recipes.armor.woolen.woolen_shoulder")),
    (4.27, Item("common.items.recipes.armor.woolen.woolen_head")),
    (3.73, Item("common.items.recipes.food.cactus_colada")),
    (3.73, Item("common.items.recipes.food.apple_shroom_curry")),
    (3.73, Item("common.items.recipes.food.salad_plain")),
    (3.73, Item("common.items.recipes.food.salad_tomato")),
    (3.73, Item("common.items.recipes.food.apples_stick")),
    (3.73, Item("common.items.recipes.food.mushroom_stick")),
    (3.73, Item("common.items.recipes.food.sunflower_icetea")),
    (2.67, Item("common.items.recipes.utility.collar_basic")),
    (2.67, Item("common.items.recipes.utility.lockpick_iron")),
    (2.67, Item("common.items.recipes.utility.lockpick_cobalt")),
    (2.67, Item("common.items.recipes.utility.gold_ingot")),
    (2.67, Item("common.items.recipes.utility.silver_ingot")),
    (2.67, Item("common.items.recipes.potions.potion_combustion")),
    (2.67, Item("common.items.recipes.potions.potion_freezing")),
    (2.67, Item("common.items.recipes.potions.potion_trans")),
    (2.67, Item("common.items.recipes.potions.potion_agility")),
    (2.67, Item("common.items.recipes.potions.potion_medium")),
    (3.73, Item("common.items.recipes.explosives.bomb_coconut")),
    (3.73, Item("common.items.recipes.explosives.firework_blue")),
    (3.73, Item("common.items.recipes.explosives.firework_green")),
    (3.73, Item("common.items.recipes.explosives.firework_purple")),
    (3.73, Item("common.items.recipes.explosives.firework_red")),
    (3.73, Item("common.items.recipes.explosives.firework_white")),
    (3.73, Item("common.items.recipes.explosives.firework_yellow")),
    (5.33, Item("common.items.recipes.metal.iron.iron_ingot")),
    (5.33, Item("common.items.recipes.metal.iron.iron_back")),
    (5.33, Item("common.items.recipes.metal.iron.iron_belt")),
    (5.33, Item("common.items.recipes.metal.iron.iron_chest")),
    (5.33, Item("common.items.recipes.metal.iron.iron_feet")),
    (5.33, Item("common.items.recipes.metal.iron.iron_hands")),
    (5.33, Item("common.items.recipes.metal.iron.iron_pants")),
    (5.33, Item("common.items.recipes.metal.iron.iron_shoulder")),
    (5.33, Item("common.items.recipes.metal.iron.iron_head")),
    (5.33, Item("common.items.recipes.metal.iron.iron_weapons")),
    (8.0, Item("common.items.recipes.weapons.bamboo.bamboo_weapons")),
    (4.27, Item("common.items.recipes.equipment.basic.seashell_necklace")),
    (4.27, Item("common.items.recipes.equipment.basic.knitted_red_pouch")),
    (4.27, Item("common.items.recipes.equipment.basic.steel_pickaxe")),
    (4.27, Item("common.items.recipes.equipment.basic.fang_necklace")),
    (4.27, Item("common.items.recipes.equipment.basic.firedrop")),
    (4.27, Item("common.items.recipes.equipment.basic.poison_clot")),
    (4.27, Item("common.items.recipes.equipment.basic.gelid_gel")),
    (4.27, Item("common.items.recipes.equipment.basic.levin_dust")),
]
