// Loot table that exists purely for price rationalisation
//
// This loot table should be marked as unsellable.
//
// Please keep it sorted by rarity so it's easier to reason about things
[
    // Recipes
    // Misc Groups
    (0.833, Item("common.items.recipes.gliders")),
    (0.833, Item("common.items.recipes.instruments")),
    (0.6, Item("common.items.recipes.charms")),
    (0.6, Item("common.items.recipes.lanterns")),
    // Equipment
    (0.6, Item("common.items.recipes.equipment.moderate")),
    (0.2, Item("common.items.recipes.equipment.advanced")),
    // Armors
    (0.833, Item("common.items.recipes.metal.steel")),
    (0.833, Item("common.items.recipes.armor.silken")),
    (0.833, Item("common.items.recipes.armor.scale")),
    (1.25, Item("common.items.recipes.weapons.hardwood")),
    (0.433, Item("common.items.recipes.metal.cobalt")),
    (0.433, Item("common.items.recipes.armor.druid")),
    (0.433, Item("common.items.recipes.armor.carapace")),
    (0.65, Item("common.items.recipes.weapons.ironwood")),
    (0.267, Item("common.items.recipes.metal.bloodsteel")),
    (0.267, Item("common.items.recipes.armor.moonweave")),
    (0.267, Item("common.items.recipes.armor.primal")),
    (0.267, Item("common.items.recipes.armor.serpentscale")),
    (0.4, Item("common.items.recipes.weapons.frostwood")),
    (0.167, Item("common.items.recipes.armor.sunsilk")),
    (0.167, Item("common.items.recipes.metal.orichalcum")),
    (0.167, Item("common.items.recipes.armor.dragonscale")),
    (0.25, Item("common.items.recipes.weapons.eldwood")),
    (0.167, Item("common.items.recipes.armor.brinestone")),
    (0.167, Item("common.items.recipes.armor.golemite")),
    // Individual recipes
    (6.67, Item("common.items.recipes.gliders.red_cloth_glider")),
    (6.67, Item("common.items.recipes.gliders.cloverleaf_glider")),
    (6.67, Item("common.items.recipes.gliders.leaves_glider")),
    (6.67, Item("common.items.recipes.gliders.sand_raptor_wings")),
    (6.67, Item("common.items.recipes.gliders.snow_raptor_wings")),
    (6.67, Item("common.items.recipes.gliders.wood_raptor_wings")),
    (6.67, Item("common.items.recipes.gliders.moonlit_love_glider")),
    (6.67, Item("common.items.recipes.gliders.horizon_glider")),
    (6.67, Item("common.items.recipes.gliders.winter_wings")),
    (6.67, Item("common.items.recipes.gliders.tephras")),
    (9.33, Item("common.items.recipes.instruments.double_bass")),
    (9.33, Item("common.items.recipes.instruments.flute")),
    (9.33, Item("common.items.recipes.instruments.guitar")),
    (9.33, Item("common.items.recipes.instruments.lyre")),
    (9.33, Item("common.items.recipes.instruments.kalimba")),
    (9.33, Item("common.items.recipes.instruments.lute")),
    (9.33, Item("common.items.recipes.instruments.oud")),
    (9.33, Item("common.items.recipes.instruments.melodica")),
    (9.33, Item("common.items.recipes.instruments.washboard")),
    (9.33, Item("common.items.recipes.instruments.sitar")),
    (9.33, Item("common.items.recipes.instruments.icy_talharpa")),
    (9.33, Item("common.items.recipes.instruments.kora")),
    (9.33, Item("common.items.recipes.instruments.banjo")),
    (9.33, Item("common.items.recipes.instruments.rhythmo")),
    (1.44, Item("common.items.recipes.charms.burning_charm")),
    (1.44, Item("common.items.recipes.charms.frozen_charm")),
    (1.44, Item("common.items.recipes.charms.lifesteal_charm")),
    (1.92, Item("common.items.recipes.lanterns.polaris")),
    (1.92, Item("common.items.recipes.lanterns.delvers_lamp")),
    (1.92, Item("common.items.recipes.lanterns.bloodmoon_relic")),
    (1.92, Item("common.items.recipes.lanterns.crux")),
    (6.24, Item("common.items.recipes.equipment.moderate.sapphire_ring")),
    (6.24, Item("common.items.recipes.equipment.moderate.sapphire_necklace")),
    (6.24, Item("common.items.recipes.equipment.moderate.topaz_ring")),
    (6.24, Item("common.items.recipes.equipment.moderate.topaz_necklace")),
    (6.24, Item("common.items.recipes.equipment.moderate.amethyst_ring")),
    (6.24, Item("common.items.recipes.equipment.moderate.amethyst_necklace")),
    (6.24, Item("common.items.recipes.equipment.moderate.reliable_leather_pack")),
    (6.24, Item("common.items.recipes.equipment.moderate.woven_red_bag")),
    (6.24, Item("common.items.recipes.equipment.moderate.honeycomb_pendant")),
    (6.24, Item("common.items.recipes.equipment.moderate.traveler_backpack")),
    (6.24, Item("common.items.recipes.equipment.moderate.sturdy_red_backpack")),
    (6.24, Item("common.items.recipes.equipment.moderate.troll_hide_pack")),
    (6.24, Item("common.items.recipes.equipment.moderate.winged_coronet")),
    (1.6, Item("common.items.recipes.equipment.advanced.abyssal_gorget")),
    (1.6, Item("common.items.recipes.equipment.advanced.abyssal_ring")),
    (1.6, Item("common.items.recipes.equipment.advanced.diamond_ring")),
    (1.6, Item("common.items.recipes.equipment.advanced.diamond_necklace")),
    (1.6, Item("common.items.recipes.equipment.advanced.ruby_ring")),
    (1.6, Item("common.items.recipes.equipment.advanced.ruby_necklace")),
    (1.6, Item("common.items.recipes.equipment.advanced.emerald_ring")),
    (1.6, Item("common.items.recipes.equipment.advanced.emerald_necklace")),
    (1.6, Item("common.items.recipes.equipment.advanced.mindflayer_spellbag")),
    (1.6, Item("common.items.recipes.equipment.advanced.merchant_turban")),
    (6.67, Item("common.items.recipes.metal.steel.steel_ingot")),
    (6.67, Item("common.items.recipes.metal.steel.steel_back")),
    (6.67, Item("common.items.recipes.metal.steel.steel_belt")),
    (6.67, Item("common.items.recipes.metal.steel.steel_chest")),
    (6.67, Item("common.items.recipes.metal.steel.steel_feet")),
    (6.67, Item("common.items.recipes.metal.steel.steel_hands")),
    (6.67, Item("common.items.recipes.metal.steel.steel_pants")),
    (6.67, Item("common.items.recipes.metal.steel.steel_shoulder")),
    (6.67, Item("common.items.recipes.metal.steel.steel_head")),
    (6.67, Item("common.items.recipes.metal.steel.steel_weapons")),
    (10.0, Item("common.items.recipes.weapons.hardwood.hardwood_weapons")),
    (6.0, Item("common.items.recipes.armor.silken.silk")),
    (6.0, Item("common.items.recipes.armor.silken.silken_back")),
    (6.0, Item("common.items.recipes.armor.silken.silken_belt")),
    (6.0, Item("common.items.recipes.armor.silken.silken_chest")),
    (6.0, Item("common.items.recipes.armor.silken.silken_feet")),
    (6.0, Item("common.items.recipes.armor.silken.silken_hands")),
    (6.0, Item("common.items.recipes.armor.silken.silken_pants")),
    (6.0, Item("common.items.recipes.armor.silken.silken_shoulder")),
    (6.0, Item("common.items.recipes.armor.silken.silken_head")),
    (5.33, Item("common.items.recipes.armor.scale.scale_back")),
    (5.33, Item("common.items.recipes.armor.scale.scale_belt")),
    (5.33, Item("common.items.recipes.armor.scale.scale_chest")),
    (5.33, Item("common.items.recipes.armor.scale.scale_feet")),
    (5.33, Item("common.items.recipes.armor.scale.scale_hands")),
    (5.33, Item("common.items.recipes.armor.scale.scale_pants")),
    (5.33, Item("common.items.recipes.armor.scale.scale_shoulder")),
    (5.33, Item("common.items.recipes.armor.scale.scale_head")),
    (5.2, Item("common.items.recipes.weapons.ironwood.ironwood_weapons")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_ingot")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_back")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_belt")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_chest")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_feet")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_hands")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_pants")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_shoulder")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_head")),
    (3.47, Item("common.items.recipes.metal.cobalt.cobalt_weapons")),
    (3.2, Item("common.items.recipes.weapons.frostwood.frostwood_weapons")),
    (3.12, Item("common.items.recipes.armor.druid.lifecloth")),
    (3.12, Item("common.items.recipes.armor.druid.druid_back")),
    (3.12, Item("common.items.recipes.armor.druid.druid_belt")),
    (3.12, Item("common.items.recipes.armor.druid.druid_chest")),
    (3.12, Item("common.items.recipes.armor.druid.druid_feet")),
    (3.12, Item("common.items.recipes.armor.druid.druid_hands")),
    (3.12, Item("common.items.recipes.armor.druid.druid_pants")),
    (3.12, Item("common.items.recipes.armor.druid.druid_shoulder")),
    (3.12, Item("common.items.recipes.armor.druid.druid_head")),
    (2.77, Item("common.items.recipes.armor.carapace.carapace_back")),
    (2.77, Item("common.items.recipes.armor.carapace.carapace_belt")),
    (2.77, Item("common.items.recipes.armor.carapace.carapace_chest")),
    (2.77, Item("common.items.recipes.armor.carapace.carapace_feet")),
    (2.77, Item("common.items.recipes.armor.carapace.carapace_hands")),
    (2.77, Item("common.items.recipes.armor.carapace.carapace_pants")),
    (2.77, Item("common.items.recipes.armor.carapace.carapace_shoulder")),
    (2.77, Item("common.items.recipes.armor.carapace.carapace_head")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_ingot")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_back")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_belt")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_chest")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_feet")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_hands")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_pants")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_shoulder")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_head")),
    (2.13, Item("common.items.recipes.metal.bloodsteel.bloodsteel_weapons")),
    (2.0, Item("common.items.recipes.weapons.eldwood.eldwood_weapons")),
    (1.92, Item("common.items.recipes.armor.moonweave.moonweave")),
    (1.92, Item("common.items.recipes.armor.moonweave.moonweave_back")),
    (1.92, Item("common.items.recipes.armor.moonweave.moonweave_belt")),
    (1.92, Item("common.items.recipes.armor.moonweave.moonweave_chest")),
    (1.92, Item("common.items.recipes.armor.moonweave.moonweave_feet")),
    (1.92, Item("common.items.recipes.armor.moonweave.moonweave_hands")),
    (1.92, Item("common.items.recipes.armor.moonweave.moonweave_pants")),
    (1.92, Item("common.items.recipes.armor.moonweave.moonweave_shoulder")),
    (1.92, Item("common.items.recipes.armor.moonweave.moonweave_head")),
    (1.92, Item("common.items.recipes.armor.primal.rigid_leather")),
    (1.92, Item("common.items.recipes.armor.primal.primal_back")),
    (1.92, Item("common.items.recipes.armor.primal.primal_belt")),
    (1.92, Item("common.items.recipes.armor.primal.primal_chest")),
    (1.92, Item("common.items.recipes.armor.primal.primal_feet")),
    (1.92, Item("common.items.recipes.armor.primal.primal_hands")),
    (1.92, Item("common.items.recipes.armor.primal.primal_pants")),
    (1.92, Item("common.items.recipes.armor.primal.primal_shoulder")),
    (1.92, Item("common.items.recipes.armor.primal.primal_head")),
    (1.71, Item("common.items.recipes.armor.serpentscale.serpentscale_back")),
    (1.71, Item("common.items.recipes.armor.serpentscale.serpentscale_belt")),
    (1.71, Item("common.items.recipes.armor.serpentscale.serpentscale_chest")),
    (1.71, Item("common.items.recipes.armor.serpentscale.serpentscale_feet")),
    (1.71, Item("common.items.recipes.armor.serpentscale.serpentscale_hands")),
    (1.71, Item("common.items.recipes.armor.serpentscale.serpentscale_pants")),
    (1.71, Item("common.items.recipes.armor.serpentscale.serpentscale_shoulder")),
    (1.71, Item("common.items.recipes.armor.serpentscale.serpentscale_head")),
    (1.2, Item("common.items.recipes.armor.sunsilk.sunsilk")),
    (1.2, Item("common.items.recipes.armor.sunsilk.sunsilk_back")),
    (1.2, Item("common.items.recipes.armor.sunsilk.sunsilk_belt")),
    (1.2, Item("common.items.recipes.armor.sunsilk.sunsilk_chest")),
    (1.2, Item("common.items.recipes.armor.sunsilk.sunsilk_feet")),
    (1.2, Item("common.items.recipes.armor.sunsilk.sunsilk_hands")),
    (1.2, Item("common.items.recipes.armor.sunsilk.sunsilk_pants")),
    (1.2, Item("common.items.recipes.armor.sunsilk.sunsilk_shoulder")),
    (1.2, Item("common.items.recipes.armor.sunsilk.sunsilk_head")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_ingot")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_back")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_belt")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_chest")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_feet")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_hands")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_pants")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_shoulder")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_head")),
    (1.33, Item("common.items.recipes.metal.orichalcum.orichalcum_weapons")),
    (1.07, Item("common.items.recipes.armor.dragonscale.dragonscale_back")),
    (1.07, Item("common.items.recipes.armor.dragonscale.dragonscale_belt")),
    (1.07, Item("common.items.recipes.armor.dragonscale.dragonscale_chest")),
    (1.07, Item("common.items.recipes.armor.dragonscale.dragonscale_feet")),
    (1.07, Item("common.items.recipes.armor.dragonscale.dragonscale_hands")),
    (1.07, Item("common.items.recipes.armor.dragonscale.dragonscale_pants")),
    (1.07, Item("common.items.recipes.armor.dragonscale.dragonscale_shoulder")),
    (1.07, Item("common.items.recipes.armor.dragonscale.dragonscale_head")),
    (1.07, Item("common.items.recipes.armor.brinestone.brinestone_back")),
    (1.07, Item("common.items.recipes.armor.brinestone.brinestone_belt")),
    (1.07, Item("common.items.recipes.armor.brinestone.brinestone_chest")),
    (1.07, Item("common.items.recipes.armor.brinestone.brinestone_feet")),
    (1.07, Item("common.items.recipes.armor.brinestone.brinestone_hands")),
    (1.07, Item("common.items.recipes.armor.brinestone.brinestone_pants")),
    (1.07, Item("common.items.recipes.armor.brinestone.brinestone_shoulder")),
    (1.07, Item("common.items.recipes.armor.brinestone.brinestone_crown")),
    (1.2, Item("common.items.recipes.armor.golemite.golemite_slab")),
    (1.2, Item("common.items.recipes.armor.golemite.golemite_back")),
    (1.2, Item("common.items.recipes.armor.golemite.golemite_belt")),
    (1.2, Item("common.items.recipes.armor.golemite.golemite_chest")),
    (1.2, Item("common.items.recipes.armor.golemite.golemite_feet")),
    (1.2, Item("common.items.recipes.armor.golemite.golemite_hands")),
    (1.2, Item("common.items.recipes.armor.golemite.golemite_pants")),
    (1.2, Item("common.items.recipes.armor.golemite.golemite_shoulder")),
    (1.2, Item("common.items.recipes.armor.golemite.golemite_head")),
]
